* {
  box-sizing: border-box;
}

:root {
  --primary-color: #435cff;
  --primary-color-contrast: rgb(10, 206, 255);
  --secondary-color: #a146eb;
  --secondary-color-contrast: rgb(236, 45, 243);
}

body {
  background: url(../img/seattle-mobile.jpeg) no-repeat center center/cover;
  height: 100vh;
  background-color: black;
  font-family: "Ysabeau Infant", sans-serif;
}

#page-wrapper {
  background-color: rgba(0, 0, 0, 0.805);
  color: white;
  width: 80%;
  max-width: 75ch;
  margin: 0 auto;
  padding: 2em;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:visited {
  color: var(--secondary-color);
}

a:hover {
  text-decoration: underline;
}

#name {
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
}

#profile-picture {
  border-radius: 50%;
  margin: 1em;
  min-width: 130px;
  width: 30%;
}

header {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 4em;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-between;
  gap: 1em;
}

/* Basic form styling */

input,
textarea,
button {
  appearance: none;
  font-family: inherit;
  font-size: 100%;
  padding: 0.3em;
  margin: 0;
  border-radius: 1em;
}

input,
textarea {
  display: flex;
  justify-content: center;
  width: 100%;
}

button {
  width: 50%;
  border-color: rgba(0, 0, 0, 0.194);
  background-color: var(--primary-color);
  color: white;
}

button:hover {
  background-color: var(--secondary-color);
  transition: 0.3s;
}

button:disabled {
  background-color: gray;
}

/* end form styling  */

#leave-message {
  margin-bottom: 3em;
}

#message-section {
  background-color: white;
  border-radius: 2em;
  color: black;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 3em;
}

#messages li,
#messages form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  border-color: rgba(0, 0, 0, 0.054);
  border-style: solid;
  border-width: 2px;
  padding: 1em;
  border-radius: 2em;
  box-shadow: 0.3em -0.3em rgba(209, 206, 206, 0.131);
  margin-bottom: 1em;
  margin-left: -40px;
}

#messages li button {
  width: 75%;
  margin-right: 1em;
}

#experience ul,
#skills ul {
  display: flex;
  flex-wrap: wrap;
}

.job,
#skills ul li {
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 0.6em;
  border-style: solid;
  flex: 1 200px;
  text-align: center;
  list-style: none;
}

.job-description {
  display: none;
}

.job:hover > .job-description {
  display: block;
}

.card {
  border-radius: 0.6em;
  margin: 1em;
  padding: 0.25em;
  background-image: linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color)
  );
}

#projects ul {
  list-style: none;
  text-align: center;
}

#projects button {
  margin-top: 1em;
  margin-bottom: 1em;
}

#experience ul li {
  background-color: var(--primary-color);
  border-color: var(--primary-color-contrast);
}

#skills ul li {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color-contrast);
}

#experience ul li:hover {
  transform: scale(1.1);
}

footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #525252;
  width: 100%;
  display: flex;
  gap: 10px;
  padding-right: 2rem;
  padding-left: 2rem;
}

footer a {
  color: white;
}
footer a:visited {
  color: white;
}

#copyright {
  margin: 0 auto;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/* Tablet screen formatting */
@media screen and (min-width: 400px) {
  body {
    background: url(../img/seattle-tablet.jpeg) no-repeat center center/cover;
    background-color: black;
  }

  input,
  textarea {
    width: 75%;
  }

  button {
    width: 50%;
  }

  #messages li {
    display: block;
  }

  #messages li button {
    width: 40%;
  }
}

/* Web-browser screen formatting */
@media screen and (min-width: 830px) {
  body {
    background: url(../img/seattle-desktop.jpeg) no-repeat center center/cover;
    background-color: black;
  }

  input,
  textarea {
    width: 60%;
  }
  button {
    width: 30%;
  }

  #messages li button {
    width: 30%;
  }
}
